.documents{
    width: 60vw;
    background-color: #a0a4f3;
    align-items: center;
    display: block;
    text-align: center;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all 0.5s ease;
    border-radius: 20px;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.documents:hover{
    background: #6668f4;
}