.admission {
    font-size: 30px;

}

.wraper {
    align-items: center;
    display: block;
    text-align: center;
    top: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: justify;
}