.nav-bar-direction {
    width: 300px;
    height: 100px;
}

.nav_facs {
    display: flex;
    justify-content: space-around;;
}

.facs_list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}
.facs_list h1 {
    font-size: 70px;
}

.fac {
    text-decoration: none;
    font-size: 50px;
    color: #ccc;
    transition: all .3s;
}

.fac:hover {
    color: white;
}

@media  (min-width: 1024px) {
    .btn-menu {
        display: none;
        position: relative;
    }
}