.documents{
    z-index: 10011;
    padding: 20px;
    width: 60vw;
    background-color: #a0a4f3;
    align-items: center;
    display: block;
    text-align: center;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all 0.5s ease;
    border-radius: 20px;
    }
    li {
    list-style-type: none; /* Убираем маркеры */
    }
    ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .nav-bar{
    background-color: red;
    width: 10vw;
    }
    .documents:hover{
    background: #6668f4;
    }
    
    .description{
    margin-top: 10px;
    text-align: justify ;
    }
    hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
    }
    .kemBudesh{
    margin-top: 10px;
    text-align: justify ;
    }