.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal-content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
}

.modal-content.active{
    transform: scale(1);
}

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
}
.type-1 {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}
.type-1:hover {
    border: 1px solid #aaa;
}



/* container */
label {
    position: relative; /* to contain absolute elements */
    padding-left:30px; /* free space for custom checkbox */
    cursor: pointer;
}
/* hide default checkbox  */
label input[type=checkbox] {
    position: absolute; /* prevent taking any space */
    /* cross-browser hidingg */
    opactiy: 0;
    width:0;
    height:0;
}
/* custom checkbox */
label span {
    position: absolute;
    /* position to the free space in <label> */
    top:0;
    left:0;
    width:20px;
    height:20px;
    background-color: #ddd;
    transition: .3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
    content: "";
    position: absolute;
    display: none;

    /* check icon */
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
label:hover span {
    background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked ~ span {
    background-color: #2eaadc;
}
label input:checked ~ span:after {
    display:block;
}